@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --color-font: #353D60;
  --color-background: #e0e0e0;
  --aside-width: 15rem;
}

body {
  margin: 0;
  color: var(--color-font);
  font: normal 1rem / 1.25 'Rubik', 'Segoe UI', 'Roboto', Arial, sans-rerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
